<!doctype html>
<html lang="en" data-framework="backbonejs">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1">
    <title>
        Locator
    </title>
    <link rel='stylesheet' type='text/css' href="css/font/deck-reg.css">
    <link rel="stylesheet" type="text/css" href="css/reset.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>

<body>

    <div id="locator">
    	<div id="view" class="cf"></div>
        <div class="control-bar">
            <input type="image" id="list-btn" src="images/list-icon.png" alt="Show List" />
            <input type="image" id="gallery-btn" src="images/gallery-icon.png" alt="Show Galllery" />
        	<input type="search" incremental="incremental" class="search-box" placeholder="Who are you looking for?" />
        </div>
    </div>

    <script type="text/template" id="gallery-template">
		<img src="images/people/<%= image %>" width="<%= width %>px" height="<%= height %>px" />
    </script>

    <script type="text/template" id="list-template">
        <img src="images/people/<%= image %>"/>
        <h1><%= firstname %> <%= secondname %></h1>
        <p><%= jobtitle %></p>
        <p><%= phonenumber %></p>
	</script>

    <script type="text/template" id="map-template">
        <!-- top pillars-->
        <div id="A" class="pillar top-pillars">A</div>
        <div id="B" class="pillar top-pillars">B</div>
        <div id="C" class="pillar top-pillars">C</div>
        <div id="D" class="pillar top-pillars">D</div>
        <div id="E" class="pillar top-pillars">E</div>

        <!-- middle pillars -->
        <div id="F" class="pillar middle-pillars">F</div>
        <div id="G" class="pillar middle-pillars">G</div>
        <div id="H" class="pillar middle-pillars">H</div>
        <div id="I" class="pillar middle-pillars">I</div>
        <div id="J" class="pillar middle-pillars">J</div>

        <!-- bottom pillars -->
        <div id="K" class="pillar bottom-pillars">K</div>
        <div id="L" class="pillar bottom-pillars">L</div>
        <div id="M" class="pillar bottom-pillars">M</div>
        <div id="N" class="pillar bottom-pillars">N</div>

        <div id="d0" class="desks"></div>
        <div id="d1" class="desks"></div> 

        <div id="block1" class="blocks top-row">
            <div id="d2" class="desks"></div>
            <div id="d3" class="desks"></div>
            <div id="d4" class="desks"></div>
            <div id="d5" class="desks"></div>
            <div id="d6" class="desks"></div>
            <div id="d7" class="desks"></div>
        </div>
        <div id="block2" class="blocks top-row">
            <div id="d8" class="desks"></div>
            <div id="d9" class="desks"></div>
            <div id="d10" class="desks"></div>
            <div id="d11" class="desks"></div>
            <div id="d12" class="desks"></div>
            <div id="d13" class="desks"></div>
        </div>
        <div id="block3" class="blocks top-row">
            <div id="d14" class="desks"></div>
            <div id="d15" class="desks"></div>
            <div id="d16" class="desks"></div>
            <div id="d17" class="desks"></div>
            <div id="d18" class="desks"></div>
            <div id="d19" class="desks"></div>
        </div>
        <div id="block4" class="blocks top-row">
            <div id="d20" class="desks"></div>
            <div id="d21" class="desks"></div>
            <div id="d22" class="desks"></div>
            <div id="d23" class="desks"></div>
            <div id="d24" class="desks"></div>
            <div id="d25" class="desks"></div>
        </div>
        <div id="block5" class="blocks top-row">
            <div id="d26" class="desks"></div>
            <div id="d27" class="desks"></div>
            <div id="d28" class="desks"></div>
            <div id="d29" class="desks"></div>
            <div id="d30" class="desks"></div>
            <div id="d31" class="desks"></div>
        </div>
        <div id="block6" class="blocks top-row">
            <div id="d32" class="desks"></div>
            <div id="d33" class="desks"></div>
            <div id="d34" class="desks"></div>
            <div id="d35" class="desks"></div>
            <div id="d36" class="desks"></div>
            <div id="d37" class="desks"></div>
        </div>
        <div id="block7" class="blocks top-row">
            <div id="d38" class="desks"></div>
            <div id="d39" class="desks"></div>
            <div id="d40" class="desks"></div>
            <div id="d41" class="desks"></div>
            <div id="d42" class="desks"></div>
            <div id="d43" class="desks"></div>
        </div>
        <div id="block8" class="blocks top-row">
            <div id="d44" class="desks"></div>
            <div id="d45" class="desks"></div>
            <div id="d46" class="desks"></div>
            <div id="d47" class="desks"></div>
            <div id="d48" class="desks"></div>
            <div id="d49" class="desks"></div>
        </div>
        <div id="block9" class="blocks top-row">
            <div id="d50" class="desks"></div>
            <div id="d51" class="desks"></div>
            <div id="d52" class="desks"></div>
            <div id="d53" class="desks"></div>
            <div id="d54" class="desks"></div>
            <div id="d55" class="desks"></div>
        </div>
        <div id="block10" class="blocks bottom-row">
            <div id="d56" class="desks"></div>
            <div id="d57" class="desks"></div>
            <div id="d58" class="desks"></div>
            <div id="d59" class="desks"></div>
            <div id="d60" class="desks"></div>
            <div id="d61" class="desks"></div>

        </div>
        <div id="block11" class="blocks bottom-row">
            <div id="d62" class="desks"></div>
            <div id="d63" class="desks"></div>
            <div id="d64" class="desks"></div>
            <div id="d65" class="desks"></div>
            <div id="d66" class="desks"></div>
            <div id="d67" class="desks"></div>
            <div id="d68" class="desks"></div>
            <div id="d69" class="desks"></div>
            <div id="d70" class="desks"></div>
            <div id="d71" class="desks"></div>
            <div id="d72" class="desks"></div>
            <div id="d73" class="desks"></div>

        </div>
        <div id="block12" class="blocks bottom-row">
            <div id="dG" class="desks"></div>
            <div id="d74" class="desks"></div>
            <div id="d75" class="desks"></div>
            <div id="d76" class="desks"></div>
            <div id="d77" class="desks"></div>
            <div id="d78" class="desks"></div>
            <div id="d79" class="desks"></div>
            <div id="d80" class="desks"></div>
            <div id="d81" class="desks"></div>
            <div id="d82" class="desks"></div>
            <div id="d83" class="desks"></div>
            <div id="dK" class="desks"></div>
        </div>
        <div id="block13" class="blocks bottom-row">
            <div id="d84" class="desks"></div>
            <div id="d85" class="desks"></div>
            <div id="d86" class="desks"></div>
            <div id="d87" class="desks"></div>
            <div id="d88" class="desks"></div>
            <div id="d89" class="desks"></div>
            <div id="d90" class="desks"></div>
            <div id="d91" class="desks"></div>
            <div id="d92" class="desks"></div>
            <div id="d93" class="desks"></div>
            <div id="d94" class="desks"></div>
            <div id="d95" class="desks"></div>
        </div>
        <div id="block14" class="blocks bottom-row">
            <div id="d96" class="desks"></div>
            <div id="dH" class="desks"></div>
            <div id="d97" class="desks"></div>
            <div id="d98" class="desks"></div>
            <div id="d99" class="desks"></div>
            <div id="d100" class="desks"></div>
            <div id="d101" class="desks"></div>
            <div id="d102" class="desks"></div>
            <div id="d103" class="desks"></div>
            <div id="d104" class="desks"></div>
            <div id="d105" class="desks"></div>
            <div id="dL" class="desks"></div>
        </div>
        <div id="block15" class="blocks bottom-row">
            <div id="d106" class="desks"></div>
            <div id="d107" class="desks"></div>
            <div id="d108" class="desks"></div>
            <div id="d109" class="desks"></div>
            <div id="d110" class="desks"></div>
            <div id="d111" class="desks"></div>
            <div id="d112" class="desks"></div>
            <div id="d113" class="desks"></div>
            <div id="d114" class="desks"></div>
            <div id="d115" class="desks"></div>
            <div id="d116" class="desks"></div>
            <div id="d117" class="desks"></div>
        </div>
        <div id="block16" class="blocks bottom-row">
            <div id="d118" class="desks"></div>
            <div id="dIE" class="desks"></div>
            <div id="d119" class="desks"></div>
            <div id="d120" class="desks"></div>
            <div id="d121" class="desks"></div>
            <div id="d122" class="desks"></div>
            <div id="d123" class="desks"></div>
            <div id="d124" class="desks"></div>
            <div id="d125" class="desks"></div>
            <div id="d126" class="desks"></div>
            <div id="d127" class="desks"></div>
            <div id="d128" class="desks"></div>
        </div>

        <div id="block17" class="blocks bottom-row">
            <div id="d129" class="desks"></div>
            <div id="d130" class="desks"></div>
            <div id="d131" class="desks"></div>
            <div id="d132" class="desks"></div>
            <div id="d133" class="desks"></div>
            <div id="d134" class="desks"></div>
            <div id="d135" class="desks"></div>
            <div id="d136" class="desks"></div>
        </div>
        <div id="block18" class="blocks bottom-row">
            <div id="dJE" class="desks"></div>
            <div id="d137" class="desks"></div>
            <div id="d138" class="desks"></div>
            <div id="d139" class="desks"></div>
            <div id="d140" class="desks"></div>
            <div id="d141" class="desks"></div>
            <div id="d142" class="desks"></div>
            <div id="d143" class="desks"></div>
        </div>
        
        <div id="youAreHere"></div>
        <div id="lineOfSight"></div> 
        <img id="map-svg" src="images/map.svg" />
        <div id="info" class="cf"></div>
    </script>
    

    <script type="text/javascript" src="vendor/zygna-scroller/Animate.js"></script>
    <script type="text/javascript" src="vendor/zygna-scroller/Scroller.js"></script>
    <script type="text/javascript" src="vendor/zygna-scroller/EasyScroller.js"></script>

    <script type="text/javascript" src="vendor/zepto.js"></script>
    <script type="text/javascript" src="vendor/lodash.underscore.min.js"></script>
    <script type="text/javascript" src="vendor/backbone.js"></script>
    <script type="text/javascript" src="vendor/csv.min.js"></script>

    <script type="text/javascript" src="js/data/data.js"></script>
    <script type="text/javascript" src="js/models/Employee.js"></script>
    <script type="text/javascript" src="js/collections/Employees.js"></script>
    <script type="text/javascript" src="js/views/EmployeeView.js"></script>
    <script type="text/javascript" src="js/views/ListView.js"></script>
    <script type="text/javascript" src="js/views/MapView.js"></script>
    <script type="text/javascript" src="js/views/LocatorView.js"></script>
    <script type="text/javascript" src="js/init.js"></script>
</body>

</html>
